<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="foroCnx" connectionString="Data Source=(local);Initial Catalog=foroKpanda;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />

    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH"
             loginUrl="login.aspx"
             defaultUrl="contenidos/Default.aspx"
             timeout="43200"
             cookieless="AutoDetect">
        <credentials passwordFormat="Clear">
          <user name="estudiante" password="oretania"/>
          <user name="profesor" password="ORETANIA"/>
        </credentials>
      </forms>  
    </authentication>

    <authorization>
      <deny users="?"/>
    </authorization>
    
  </system.web>

  <location path="contenidos/anonimo">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>  
  </location>
  
  <appSettings>
    <!-- Credenciales del servidor de correo -->
    <add key="emailServiceUserName" value="2daw@iesoretania.es" />
    <add key="emailServicePassword" value="Elpassworddelusuariodecorreo" />
  </appSettings>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  
</configuration>
